nav.navbar {
    padding: 0;
    padding-right: 1rem;

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        aspect-ratio: 1;
        background-color: var(--bs-primary);
        // color: white;
    }

    .navbar-nav {
        gap: 1rem;

        .nav-link {
            --bs-nav-link-padding-y: 0.25rem;
            text-transform: uppercase;
            font-weight: bold;
            color: #989fa2;
            border-radius: 0.5rem;

            &:hover {
                color: #fff;
            }

            &.active {
                background: white;
                color: var(--bs-dark);
            }
        }
    }
}
