@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.campaign-list-item {
    .list-attribute {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
    }

    .card-body {
        padding: 0.5rem 0.75rem;
        padding-left: calc(0.5rem + 9px);

        .row.tag {
            &:before {
                content: '';
                left: 0.5rem;
                top: 0.5rem;
                bottom: 0.5rem;
                width: 5px;
                border-radius: 5px;
                background-color: gray;
                position: absolute;
            }
        }
    }

    .campaign-badge {
        padding: 6px;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;

        &.running {
            background-color: rgba($yellow, 0.25) !important;
            color: shade-color($yellow, 50) !important;
        }
        &.scheduled {
            background-color: rgba($purple, 0.25) !important;
            color: shade-color($purple, 50) !important;
        }
        &.error {
            background-color: rgba($red, 0.25) !important;
            color: shade-color($red, 50) !important;
        }
    }
}
