.companies-header-tabs {
    .nav-item {
        margin: 0 1rem;

        .nav-link {
            --bs-nav-link-font-size: 18px;
            --bs-nav-link-color: var(--bs-secondary);
            font-weight: bold;
            padding: 0rem;
            padding-top: 0.5rem;

            &.active {
                --bs-nav-link-color: var(--bs-primary);
                border-bottom: 3px solid var(--bs-primary);
            }
        }
    }
}
